<!doctype html>
<html lang="en">
<head>
    {% load static %}
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link href="https://use.fontawesome.com/releases/v5.0.7/css/all.css" rel="stylesheet">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
          integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh"
          crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css">
    <link href="http://cdn.datatables.net/1.10.20/css/jquery.dataTables.min.css">

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="//netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js"></script>
    <script src="//cdn.datatables.net/1.10.20/js/jquery.dataTables.min.js"></script>
    <script src="{% static 'js/ajaxSearch.js' %}"></script>
    <title>
        {% block title  %}
        {% endblock %}
    </title>

</head>
<body>
<div class="container">
    <div class="row mt-2">
        <div class="col">
            <a class="navbar-brand" href="{% url 'AnalizzaVocabolario:homepage' %}">
                <img src="{% static 'img/logo.png' %}"  alt="logo" style="width:40px;">
            </a>
        </div>
        <div class="col searchbar-container">
            <input id='search' class="form-control" type="search" placeholder="Search" aria-label="Search">
            <div class="dropdown-menu" id="results"></div>
        </div>
        <div class="col" align="center">
            <button class="btn btn-light dropdown-toggle" id="navbarDropdownMenuLink-333" data-toggle="dropdown" style="float: right">
                <i class="fas fa-user"></i>
            </button>
            <div class="dropdown-menu dropdown-menu-right">
                <a class="dropdown-item" href="#">Profilo</a>
                <a class="dropdown-item" href="{% url 'AnalizzaVocabolario:personal-text' %}">Testi personali</a>
                <a class="dropdown-item" href="{%  url 'AnalizzaVocabolario:logout' %}">Logout</a>
            </div>
        </div>
    </div>
    <div>
        {% block content %}{% endblock %}
    </div>
</div>
<script type="text/javascript">
    $(document).ready(function() {
        new AjaxSearch($('.searchbar-container'));
       // $('.dataTable').DataTable();
      //  $('.dataTables_length').hide()
      //  $('.dataTables_filter').hide()
    });


</script>
</body>
</html>
