{% extends 'baseList.html' %}
{% block title  %}Homepage{% endblock %}
{% block table_head %}
    <th>Titolo</th>
    <th>Link</th>
    <th>Utente</th>
    <th>Azioni</th>
{% endblock %}
{% block list_title %} Testi recenti {% endblock %}
{% block table_body %}
    <a type="button" class="btn btn-success"  href="{% url 'AnalizzaVocabolario:add-text' %}"><i class="fas fa-plus-circle"></i> Aggiungi testo</a>
    {% for testo in object_list %}
        <tr>
            <td>{{ testo.titolo }}</td>
            <td>{{ testo.link }}</td>
            <td>{{ testo.author }}</td>
            <td><a type="button" class="btn btn-success" href="{% url 'AnalizzaVocabolario:features-text' testo.id %}"><i class="fas fa-binoculars"></i></a>
                {% if testo.author.id == user.id %}
                    <a type="button" class="btn btn-danger" href="{% url 'AnalizzaVocabolario:delete-text' testo.pk %}"><i class="fas fa-trash-alt"></i></a>
                {% endif %}
            </td>
        </tr>
    {% endfor %}
{% endblock %}




