{% extends 'baseList.html' %}
{% load static %}

{% block title  %} Testi personali{% endblock %}
{% block colgroup %}
    <colgroup>
        <col width="30%">
        <col width="40%">
        <col width="15%">
        <col width="15%">
    </colgroup>
{% endblock %}
{% block table_head %}
    <th class="text-center">Titolo</th>
    <th class="text-center">Link</th>
    <th class="text-center">Link</th>
    <th class="text-center">Azioni</th>
{% endblock %}
{% block list_title %}
    <p style="font-size: 25px;  font-family:'Verdana'" class="text-left">TESTI PERSONALI</p>
    <p style="font-size: 15px" class="text-left">Qui di seguito trovi una lista contente le informazioni sui testi che hai aggiunto. Utilizza le opzioni per eliminarli o analizzarli.</p>
{% endblock %}
{% block table_body %}
    <div class="bd-highlight">
        <a type="button" class="btn btn-info bd-highlight" data-toggle="tooltip" title="Aggiungi un nuovo testo" href="{% url 'AnalizzaVocabolario:add-text' %}"><i class="fas fa-plus-circle"></i></a>
        <a type="button" class="btn btn-success bd-highlight" data-toggle="tooltip" title="Analizza tutte le parole nei tuoi testi" href="{% url 'AnalizzaVocabolario:analyze-all-personal-words' %}"><i class="fas fa-binoculars"></i></a>
        <a type="button" class="btn btn-warning bd-highlight" data-toggle="tooltip" title="Grafico delle parole nei tuoi testi" style="margin-right: 2px" href="{% url 'AnalizzaVocabolario:graph-personal-text' %}"><i class="fas fa-chart-pie"></i></a>
        <a type="button" class="btn btn-primary bd-highlight" data-toggle="tooltip" title="Confronta due testi" style="margin-top: 2px" href="{% url 'AnalizzaVocabolario:select-text' %}"><i class="fas fa-balance-scale"></i></a>
    </div>
    <br>
    {% for testo in object_list %}
        <tr id="text-{{testo.id}}">
            <td class="text-center">{{ testo.titolo }}</td>
            <td class="text-center"><a href="{{ testo.link }}" target="_blank">{{ testo.link }}</a></td>
            <td class="text-center">{{ testo.data_creazione }}</td>
            <td class="text-center"><a type="button" data-toggle="tooltip" title="Analizza il testo" class="btn btn-success mr-1" href="{% url 'AnalizzaVocabolario:features-text' testo.pk %}"><i class="fas fa-binoculars"></i></a>
                <a type="button" data-toggle="tooltip" title="Grafico parole '{{ testo.titolo }}'" class="btn btn-warning" href="{% url 'AnalizzaVocabolario:graph' testo.id%}"><i class="fas fa-chart-pie"></i></a>
                <button class="btn btn-danger mr-1" data-toggle="tooltip" title="Elimina '{{ testo.titolo }}'" onClick="deleteText({{testo.id}})"><i class="fas fa-trash-alt"></i></button>
            </td>
        </tr>
    {% endfor %}
    <script>
        function deleteText(id) {
            var action = confirm("Sei sicuro di voler eliminare questo testo?");
            if (action != false) {
                $.ajax({
                    url: '{% url "AnalizzaVocabolario:delete-text" %}',
                    data: {
                        'id': id,
                    },
                    dataType: 'json',
                    success: function (data) {
                        if (data.deleted) {
                            $("#Table #text-" + id).remove();
                        }
                    }
                });
            }
        }
    </script>
{% endblock %}


